.typecast-top-toolbar {
    display: none;
    height: 56px;
    background-color: $color-white;
    border-bottom: 1px solid $color-light-grey-2;
    //background: linear-gradient(135deg, lighten($color-blue, 5%) 0%, darken($color-blue, 5%) 100%);
}
