extends ../../../layout/typecast/signed-out

block append head
    title=view.translate('typecast.user.password_success.title')
    meta(name="description" content=view.translate('typecast.user.password_success.description'))

block content

    h1.h2=view.translate('typecast.user.password_success.headline')

    .typecast-text
        p=view.translate('typecast.user.password_success.text')

        a(href="/typecast/user/sign-in")
