extends ../../../layout/typecast/signed-out

block append head
    title=view.translate(locale, 'typecast.user.password_token_expired.title')
    meta(name="description" content=view.translate(locale, 'typecast.user.password_token_expired.description'))

block content

    h1.h2=view.translate(locale, 'typecast.user.password_token_expired.headline')

    .typecast-text
        p=view.translate(locale, 'typecast.user.password_token_expired.text')
