extends ../../layout/typecast/signed-in

block append head
    title=view.translate(locale, 'typecast.index.title')
    meta(name="description" content=view.translate(locale, 'typecast.index.description'))

block content

    h1.h2=view.translate(locale, 'typecast.index.headline')
