mixin error(errors)

    - if(undefined === attributes.errors) throw new Error('no attribute errors');

    if attributes.errors
        ul.typecast-errors
            each validationError in attributes.errors
                each error,key in validationError.errors
                    li(class='typecast-error typecast-error-' + validationError.property + ' typecast-error-' + key)=view.translate(locale, error)
