mixin error(errors)

    -
        if(undefined === attributes.errors || Object.keys(attributes.errors).length === 0) {
            delete attributes.errors;
        }

    if attributes.errors
        ul.typecast-errors
            each validationError in attributes.errors
                each error,key in validationError.errors
                    li(class='typecast-error typecast-error-property-' + validationError.property + ' typecast-error-key-' + key)=view.translate(locale, error)
