mixin textfield()

    -
        if(undefined === attributes.name) throw new Error('textfield has no attribute name');
        if(undefined === attributes.form) throw new Error('textfield has no attribute form');

        if(attributes.type !== 'password' && attributes.form.data && attributes.form.data[attributes.name]) {
            attributes.value = attributes.form.data[attributes.name];
        }

        if(attributes.form.errors && attributes.form.errors[attributes.name]) {
            let cssClasses = attributes.class.split(' ');
            cssClasses.push('has-error');
            attributes.class = cssClasses.join(' ');
        }

        if(!attributes.autocomplete) attributes.autocomplete = 'off';
        if(!attributes.autocapitalize) attributes.autocapitalize = 'off';
        if(!attributes.spellcheck) attributes.spellcheck = 'false';

        delete attributes.form;

    input&attributes(attributes)
