extends ../default.pug

block append head
    link(rel='stylesheet' href=view.asset('typecast/css/style.css'))
    link(rel='stylesheet' href=view.asset('vendor/fontawesome/css/all.min.css'))

block body
    .typecast-page.typecast-page-panel
        .typecast-panel
            a.typecast-logo.typecast-brand-name(href=view.url('typecast'))
                span T
                span Y
                span P
                span E
                span C
                span A
                span S
                span T

            .typecast-panel-content
                block content

            .typecast-panel-footer
                p
                    span.typecast-brand-name
                        span T
                        span Y
                        span P
                        span E
                        span C
                        span A
                        span S
                        span T
                    |
                    | -
                    |
                    =view.translate('typecast.panel.footer.text', view.url('typecast'))

