extends ../../../../layout/typecast/signed-in

block append head
    title=view.translate(locale, 'typecast.admin.system.config.title')
    meta(name="description" content=view.translate(locale, 'typecast.admin.system.config.description'))

block content

    h1.h2=view.translate(locale, 'typecast.admin.system.config.headline')
